<section class="manifesto-full-content">
  <div class="container">
    <h2>{{ 'about.title' | translate }}</h2>

    <div class="manifesto-text">
      <p>{{ 'about.intro' | translate }}</p>

      <h3>{{ 'about.h1' | translate }}</h3>
      <p>{{ 'about.p1' | translate }}</p>

      <h3>{{ 'about.h2' | translate }}</h3>
      <p>{{ 'about.p2' | translate }}</p>

      <h3>{{ 'about.h3' | translate }}</h3>
      <p>{{ 'about.p3' | translate }}</p>

      <h3>{{ 'about.h4' | translate }}</h3>
      <p>{{ 'about.p4' | translate }}</p>

      <h3>{{ 'about.h5' | translate }}</h3>
      <p>{{ 'about.p5' | translate }}</p>

      <h3>{{ 'about.h6' | translate }}</h3>
      <p>{{ 'about.p6' | translate }}</p>
      <p class="call-to-action">{{ 'about.cta' | translate }}</p>
    </div>
  </div>
</section>
