<form class="login-form">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Votre email" required />
  </div>

  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="password" placeholder="Votre mot de passe" required />
  </div>

  <button type="submit">Se connecter</button>

  <hr />

  <button type="button" class="google-login">
    <i class="fab fa-google"></i> Connexion avec Google
  </button>
</form>